openapi: 3.0.0
info:
  title: Vloor API - test environment
  description: "This api can be used to create floorplans, get their corresponding\
    \ fml files and more!"
  contact:
    email: peter@vloor.com
  version: v1.1
servers:
- url: https://api.vloor.com
  description: AWS Vloor API endpoint
tags:
- name: floorplan
  description: Everything you need to create and digitize a floor plan
  externalDocs:
    description: Find out more
    url: http://www.vloor.com
paths:
  /v1/floorplans:
    post:
      tags:
      - floorplan
      summary: Digitize a new floor plan to FML by providing an image
      operationId: createFloorplanFML
      requestBody:
        $ref: '#/components/requestBodies/CreateFloorplan'
      responses:
        "200":
          description: "successful operation returns the created floorplanId, can\
            \ be used in a subsequent GET request, to retrieve the FML file"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloorplanId'
        "400":
          description: Bad Request
        "405":
          description: Invalid input
        "422":
          description: No floor plan could be recognized in the image
        "500":
          description: Internal server error
      security:
      - api_key: []
  /v1/floorplans/{floorplanId}:
    get:
      tags:
      - floorplan
      summary: Find floor plan FML by floorplan ID
      description: Returns a single floor plan FML file
      operationId: getFloorplanById
      parameters:
      - name: floorplanId
        in: path
        description: ID of floor plan FML file to return
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: successful operation returns the FML file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FML'
        "400":
          description: Bad Request
        "404":
          description: Floor plan not found
        "422":
          description: Invalid Request - Not all parameters were provided when performing
            request
        "500":
          description: Internal server error
      security:
      - api_key: []
  /v1/floorplans/{floorplanId}/accept:
    put:
      tags:
      - floorplan
      summary: Accept the result of our ML prediction
      description: When you are happy with the results of your post request, you can mark it as accepted via this endpoint
      operationId: acceptFloorplan
      parameters:
      - name: floorplanId
        in: path
        description: ID of floor plan to mark as accepted
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: successful operation returns nothing
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Floor plan not found
        "422":
          description: Invalid Request - Not all parameters were provided when performing
            request
        "500":
          description: Internal server error
      security:
      - api_key: []
  /v1/floorplans/{floorplanId}/reject:
    put:
      tags:
      - floorplan
      summary: Reject the result of our ML prediction
      description: When you are not happy with the results of your post request, you can mark it as rejected via this endpoint
      operationId: rejectFloorplan
      parameters:
      - name: floorplanId
        in: path
        description: ID of floor plan to mark as rejected
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: successful operation returns nothing
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Floor plan not found
        "422":
          description: Invalid Request - Not all parameters were provided when performing
            request
        "500":
          description: Internal server error
      security:
      - api_key: []
components:
  schemas:
    CreateFloorplan:
      type: object
      properties:
        image:
          type: string
          description: The image of the floor plan to digitize
          format: binary
        name:
          type: string
          description: Name of the floor plan to create
        api_scaling_factor_cm_per_px:
          type: number
          description: The scaling factor to scale the image with.
        originalInputType:
          type: string
          enum: 
            - SKETCH
            - POINTCLOUD
          description: The type of the original image, either SKETCH (basically all floorplans) or POINTCLOUD for point cloud slices.
        callbackUrl:
          type: string
          description: "URL of the endpoint which should be called after an FML has been generated for this request. <br/>
           Will receive a POST request with body containing {floorplanId: id}. <br/>
           The floorplan Id can be used to GET the floorplan FML via our endpoint."
      xml:
        name: CreateFloorplan
    FloorplanId:
      type: object
      properties:
        floorplanId:
          type: string
          format: uuid
      xml:
        name: FloorplanId
    FML:
      type: object
      xml:
        name: FML
  requestBodies:
    CreateFloorplan:
      description: CreateFloorplan object that contains the image that should be digitized
        and meta information
      content:
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/CreateFloorplan'
      required: true
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
